<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl" class="container">
    <h3>Skills</h3>
    <div class="row">
      <select name="repeatSelect" id="repeatSelect" ng-model="skill1">
        <option ng-repeat="skill in skills" value="{{skill.name}}">{{skill.name}}</option>
      </select>

      <select name="repeatSelect" id="repeatSelect" ng-model="skill2">
        <option ng-repeat="skill in skills" value="{{skill.name}}">{{skill.name}}</option>
      </select>

      <select name="repeatSelect" id="repeatSelect" ng-model="skill3">
        <option ng-repeat="skill in skills" value="{{skill.name}}">{{skill.name}}</option>
      </select>
    </div>

    <hr>

    <h3>Roles</h3>
    <div class="row">
      <select name="repeatSelect" id="repeatSelect" ng-model="role">
        <option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
      </select>
    </div>



    <div class="row">
    <textarea rows="20" cols="80">
Dear {{ companyName }},

My {{ skill1 }}, {{ skill2 }} and {{ skill3 }} would make me {{ role }} to your team as a {{ position }}.

During

Find attached a copy of my resume, and I look forward to hearing from you soon.

{{ closing }},

{{ signature }}

    </textarea>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>  

<script src="index.js"></script>
</body>
</html>
